.main {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.main button {
    outline: none;
    border: none;
    padding: 0;
    background: transparent;
    text-decoration: none;
}

.left {
    position: absolute;
    transform: translateX(-150%);
    top: 150px;
    left: 0;
    width: 150px;
    height: 250px;
    color: #858796
}

.right {
    position: absolute;
    transform: translateX(150%);
    top: 150px;
    right: 0;
    width: 150px;
    height: 250px;
    color: #858796

}